# Based on https://github.com/scalacenter/library-example
language: scala

jdk:
  - openjdk11

jobs:
  include:
    - stage: style
      name: "Code style"
      script: sbt check
    - stage: test
      name: "Unit tests"
      script: sbt clean test
# TODO: turned off because of https://github.com/lampepfl/dotty/issues/17042
#      script: sbt clean coverage test coverageReport
#      after_success: bash <(curl -s https://codecov.io/bash)
    - stage: compatibility
      name: "Binary compatibility"
      script: sbt mima
    - stage: performance
      name: "Performance tests"
      script: sbt Perf/test
    - stage: doc
      name: "API documentation"
      script: sbt doc
    - stage: publish
      name: "Publish"
      if: type = push AND tag =~ ^v
      before_install:
        - openssl aes-256-cbc -K $encrypted_c504bc2a30c2_key -iv $encrypted_c504bc2a30c2_iv
          -in ci/secret-key.asc.enc -out ci/secret-key.asc -d
        - echo $PGP_PASSPHRASE | gpg --passphrase-fd 0 --batch --yes --import ci/secret-key.asc
      script: sbt publishSigned sonatypeBundleRelease

cache:
  directories:
    - "$HOME/.cache/coursier"
    - "$HOME/.ivy2/cache"
    - "$HOME/.sbt"

before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt -name "*.lock" -print -delete

env:
  global:
    # PGP_PASSPHRASE
    - secure: awUsR4btBnh0U7f2n/ftvI1EoArnuuWQH4tm44Qbb/3z+KgO/arqUI8mF7TuC+UK5U/Mqk2BbtZ8fgyBqYBht+x4p/29BBEaadguz6nDLctGvTssE7JN+Fz1vKimudgvNO2F4LGK6xwyBvKKlnMHfuIPtH9RCZuBkMvznTJpzbk/MPW27W4u1cIi0IQpMzNo6tGMNO6evmWlRXauDlpAkPAWl7hxiCbbztnaht4dq3IIETnozuodzvW/hzIsGNoJXKSP7knpSRny9SjNmNQzyagS9sZDjLGBW9fMOEI5j3fYciNRinmQKWEiA3xv0mPgrBHb3mxnemYA0AhAd56lCWx8Xct5JGTIQuYZedMSPIBeXzXywRjqEHCjHZwNXg/focjLMYtqfkci835+eNoceP5jkPb8dtQdyIxetEBc4x/SXPXq3eDT1IbiHqu1jzJihGiKzPT/xiOWDVmB3d4AlF30dI+0beFcgRqttjWcsItYzlMqLAbdg9tu2N3kvuYsdz5Y3as6kd14RhQ6xnYgP9rZ31iN/k92yKB87k4zQtSG48JqIgLZDYiBIitT51h/Iu1TV+aZvzMAuHdr8iS2QfJAXbC04cVSRdeIppxJWYHf+9hERmgbyBVG7zyLXOPmQgqq3GxNx/fAEpSYJWSPF/Iib1JM6Dn0n+wvOp+tIpY=
    # SONATYPE_USERNAME
    - secure: ZNDn2/EFpVjBu+AEIU3o5WzcRHQyKLqi/UMemr2H8az1Pm4avLRGTEIXHWWpZ4kTBMOU5d5Tayriq5ZXsvCl5X/cYMfZWF7M3qlWKTNnyHJklqDz8TftUq6KB1k+4FSfOX/60NopFqX7rtKBD3UsQ79ls/kspT2U80BrVmIdE5yeJ1UOOH5xDqTHxnL/fUgv0dZ1/kA0CbzxE+y9f2Sb2ZIoDoN24QCtYAYSpUjrah9RFPY7sd1O1yviEi31h36vUTLRzqBp9b87WFbW2YrQlQk9xs+S8/BLHG8ap8KOfr7D1Mm3IwJaqpeR5Hw4vfwdNsow+gFjxH/Q91mA2DNtPnzkPOSVp234WfqWKI6rAruMHo+MMnZTvQjicgJAFNqGBBMvmGaQipoiKtudfpM/KZJ9Ze20TnkGmw3uwTqw/YMY+yBDew2II3xdiKdAmjS8ZMkCVrR/A5PBhfq0FU2S4kEh0M9uEwqYCB29DvyYBEwmq9yOhuByhlhqLjb3dfsCQbvhb6EnLHqM9V0P9t6EzdQ6LGZCtoSuQbEze5+q6+ejZmQSvxc9VssLCOGHNfb5N2SmyFxw1uKn+dn4n2X201OaS26tNKh7WAU26ti1cvAyiMjOwa1oKj0J+5mfMZceJWvHE1FGdl9R3C2TTXUbSc2k6Ycb6+rK6lcmURJ/e5Y=
    # SONATYPE_PASSWORD
    - secure: FhwftzCl7cuqxTcmcDSlVWHxXMfu5ULZNmQdJQd16ZGZKBNiSLSMTjl4lYI57jmASZlpmwEp+lfW6VgYABe3a6prb9rhqxjfKVa66gS5lWM3YlGoLnR+nJIW2CeEgEoKNu4WyrfE7NPbLbR2LOVVdJqhTmA+MOUL+e+r5gbFx/Nl1qCfzn7i/ChWTOqspF5p4F86EaoKkV5VuhXe4Le2+2bj2LWToqg2kWbZV2BHh7MtjbZ3Bi1CB/LQWrI564tSsDt43BdA4ieyi356i4kyX7ySSGEicw1YceRvK7/bHWSWwZoVFB8EJYp0a70teyzWVVbKVEQmBIeSnKfqNJi1G3R14h5jcfFja4iOHvRS8OcAW+FsJ1eOHAgvejDmi2ObiC8IShy7K2Rz1HrY82LqMHY+4Fz6Rn/MzvGwKbvffdulcgyxnwbWjyh0GAVJESvrAWwKPbwgWRR2WidMLsOZ1GBGYsottBtUhY75oJWuyBH5x1NMzw/Tx1N/TlAwuSdVpBniq8bJ8ybxWKFmdubaBYZknY6y+RtevpUMTqU8UhehigAV4BeFtzRu1P32FdKh7EPIfhKHsFqIz/4ZBO/K9FrsfFHOEQdkhgvuNP4j/ZfwTCki170FBtvUu1zJTXoajQxADutXjDZMYkC7sT8fli/uMAunKn+wRqAoALPi6Zs=
